@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Heebo:wght@400;700;900&family=Lobster&family=Pacifico&family=Roboto:wght@100&family=Satisfy&family=Varela+Round&display=swap");
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  height: 50vh;
  background-image: url("../imges/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: calibri;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.toggle:before {
  content: "\f0c9";
  font-family: fontAwesome;
  line-height: 30px;
  margin-right: 4px;
  z-index: 1;
  display: none;
}
.logo {
  font-family: Lobster;
  color: #000000;
  font-size: 24px;
  margin: 30px;
}
.active {
  font-weight: bold;
  color: #2d2a2a;
}
.portfolio {
  /* section that contain the introduction of the project*/
  z-index: 1;
  width: $width;
  height: 42.6vh;

  h1 {
    font-family: $baseFont;
    font-size: 3em;
    letter-spacing: 0px;
    color: #2d2a2a;
    opacity: 1;
  }

  p {
    font-family: $baseFont;
    font-size: 1em;
    text-align: center;
    color: #3a3a3a;
    opacity: 1;
  }
}

.btn1,
.btn2 {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  font-family: $baseFont;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 0px 10px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
button:active {
  transform: scale(1.1);
}
.btn1 a,
.btn2 a {
  color: #ffffff;
}

.container {
  width: $width;
  background-color: white;
  height: auto;

  .technology {
    width: $width;
    height: auto;
    box-shadow: 0px 3px 6px #00000029;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

@media (max-width: 750px) {
  .portfolio h1 {
    font-size: 2em;
  }
  nav ul {
    margin: 0;
    padding: 0;
    background-color: #ebeef4;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
    display: none;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    font-family: calibri;
    font-style: 1.4em;
    text-transform: uppercase;
    color: #5c5c5c;
  }
  nav ul li a:hover {
    color: #121212;
  }
  .toggle::before {
    display: block;
  }
  .toggle.active:hover {
    content: "\f00d";
  }
}
