* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background {
    /* bgc color*/
    display: block;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 7.4vh;
    top: 0px;
    /* background-color: rgb(243, 243, 235); */
    background-image:
        linear-gradient(to bottom, rgba(213, 213, 204, 0.5), rgba(255, 255, 255, 0.5)), url('../imges/layerColorBackground.jpeg');

}

.profile {
    /*profile photo*/
    z-index: 100;
    border-radius: 50%;
    width: 2.6vw;
    height: 4.63vh;
}

.logo {
    /* My Name*/
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo:hover {
    color: black;
    font-weight: bold;
}

nav,
.hamburger {
    /*nav bar*/
    width: 100%;
    /*Keeps it fixed while scrolling*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 7.4vh;
    margin: 0 auto;
    background-color: rgb(226, 226, 220);
}

.hamburger {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;

}

nav ul li {
    margin-right: 20px;
    width: 100px;
    height: 70px;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    /* text-align: center; */
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.port-container {
    background-image:
        linear-gradient(to bottom, rgba(213, 213, 204, 0.5), rgba(255, 255, 255, 0.5)), url('../imges/layerColorBackground.jpeg');
    height: 42.68vh;
    width: 100vw;
}

.portfolio {
    /* section that contain the introduction of the project*/
    z-index: 1;
    width: 100vw;
    height: 42.6vh;
}

.portfolio h1 {
    font-size: 80px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}

.portfolio p {
    font-size: 20px;
    text-align: center;
    color: #3A3A3A;
    opacity: 1
}

.container {
    /* contain the coding languages that used in the project*/
    width: 100vw;
    height: 12vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 0.46vh;
    opacity: 1
}

.codingImages {
    width: 5.2vw;
    height: auto;
}

.languagesPhotosGrid {
    /* grid to keep codingImages in one row */
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

#aboutMe {
    /* a box that contain description and photo about me*/
    width: 100vw;
    height: 55.5vh;
}

#aboutMe>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

#aboutMe>h2 {
    margin: auto;
    font-size: 35px;
    width: 132px;
    height: 52px;
    color: #3A3A3A
}

#aboutMe>p {
    font-size: 20px;
    direction: rtl;
    width: 550px;
    height: 232px;
    text-align: center;
    color: #3A3A3A;
    margin: auto;
}

#aboutMe>button {
    /* Button to download the CV*/
    width: 260px;
    height: 40px;
    background-color: rgb(243, 243, 235);
    border-radius: 25px;
    text-align: center;
    margin-left: 42vw;
    margin-top: 0px;


}


#gridContainer {
    width: 100%;
    height: 1558px;
    top: 1142px;
    margin-top: 0;
    background: #F6F6F6;
    opacity: 1;
}


#gridContainer .works {
    width: 234px;
    height: 52px;
    font-size: 36px;
    color: #3A3A3A;
    opacity: 1;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

#gridContainer .desWork {
    width: 576px;
    height: 58px;
    margin: auto;
    text-align: center;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1
}

#gridContainer .projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
}

.projectItem {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 47.9vh;
    width: 21vw;
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.555);
}

.projectItem img {
    width: 21vw;
    height: 20vh;
}




#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 958px;
    background-color: #3A3A3A;
    opacity: 100%;
    top: 2950px;
}


#contact .inner-contact-text {
    width: 549px;
    height: 150px;
    margin-left: 800px;
}

#contact .inner-contact-text>h1 {
    width: 135px;
    height: 53px;
    margin-left: 420px;
    font-size: 36px;
    color: white;

}

#contact .inner-contact-text>p {
    width: 548px;
    height: 58px;
    font-size: 20px;
    text-align: right;
    direction: rtl;
    color: white;
}

#contact .contact-img {
    margin-top: 0;
    width: 770px;
    height: 671px;

}

#information {
    width: 100%;
    height: 200px;
    background-color: rgb(243, 243, 235);
    top: 3477px;
}

#information .gridInformation {
    display: grid;
    margin-top: 42px;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(1, 78px);
    justify-content: center;
    align-items: center;
}



.license {
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #000;
    position: fixed;
    z-index: 100;
}

.license #all_winnings_reserved {
    z-index: 100;
    position: fixed;
    width: 148px;
    height: 28px;
    text-align: right;
    margin-top: 5px;
    right: 10px;
    direction: rtl;
    color: rgb(243, 243, 235);
}

.license #myName {
    z-index: 100;
    position: fixed;
    margin-top: 5px;
    left: 10px;
    width: 148px;
    height: 28px;
    text-align: left;
    color: rgb(243, 243, 235);
}


@media (max-width:550px) {
    /*for mobiles*/

    .hamburger {
        display: block;

    }

    nav,
    .hamburger {
        position: fixed;
        z-index: 100;
        direction: rtl;
        top: 0;
        right: 0;
        margin-right: 4px;
        border-radius: 0;
        width: 98%;
        height: 40px;
        background-color: rgb(226, 226, 220);

    }


    .list {
        margin-top: 40px;
        margin-bottom: 2px;
    }

    nav ul li {
        flex-direction: column;
    }

    nav ul li a {
        line-height: 1.5;
        text-decoration: none;
        width: 100px;
        height: 35px;
        color: #000;
        display: block;
        margin-top: 1%;
        border: 2px solid black;
        background-color: rgb(226, 226, 220);
        text-align: center;
        font-size: 1.2em;
    }


    nav ul {
        display: none;
    }

    nav .hamburger:hover+ul {
        display: block;
    }

    .background {
        display: block;
        position: absolute;
        width: 100%;
        height: 331px;
        z-index: 100;
        background-color: rgb(243, 243, 235);
        top: 0px;
    }

    .profile {
        /*profile photo*/
        position: fixed;
        z-index: 100;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        left: 10px;
        top: 6px
    }

    .logo {
        position: absolute;
        z-index: 100;
        top: 10px;
        left: 50px;

    }

    section {
        /* section that contain the introduction of the project*/
        margin: auto auto;
        width: 348px;
        height: 168px;

    }

    section h1 {
        font-size: 46px;
        top: 70px;
        width: 233px;
        height: 67px;
        margin: auto auto;
        direction: rtl;
        color: #3A3A3A;
        opacity: 1
    }

    section p {
        margin-top: 5px;
        font-size: 20px;
        width: 345px;
        height: 97px;
        direction: rtl;
        text-align: center;
        color: #3A3A3A;
        opacity: 1
    }

    .container {
        /* contain the coding languages that used in the project*/
        top: 330px;
        width: 100vw;
        height: 111px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1
    }

    .codingImages {
        width: 45px;
        height: 45px;
    }

    .languagesPhotosGrid {
        /* grid to keep codingImages in two rows */
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 45px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 45px);
        grid-template-rows: repeat(2, 100%)
    }

    #aboutMe {
        /* a box that contain description and photo about me*/
        position: absolute;
        width: 100vw;
        height: 720px;
        top: 531px;
    }

    #aboutMe>img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 35vw;
        margin-top: 5px;

    }

    #aboutMe>h2 {
        margin: auto;
        font-size: 35px;
        width: 132px;
        height: 52px;
        color: #3A3A3A
    }

    #aboutMe>p {
        font-size: 20px;
        direction: rtl;
        width: 323px;
        height: 286px;
        text-align: center;
        color: #3A3A3A;
        margin: auto;
    }

    #aboutMe>button {
        /* Button to download the CV*/
        width: 135px;
        height: 28px;
        background-color: rgb(243, 243, 235);
        border-radius: 15px;
        text-align: center;
        margin-left: 35vw;
        margin-top: 25px;

    }

    #gridContainer {
        width: 100%;
        height: 3179px;
        top: 1272px;
        margin-top: 0;
        background: #F6F6F6;
        opacity: 1;
    }


    #gridContainer>h2 {
        width: 162px;
        height: 37px;
        font-size: 25px;
        color: #3A3A3A;
        opacity: 1;
        text-align: center;
        margin-top: 30px;
        margin: auto;
    }

    #gridContainer>p {
        width: 349px;
        height: 44px;
        margin: auto;
        text-align: center;
        letter-spacing: 0px;
        color: #3A3A3A;
        opacity: 1
    }

    #gridContainer .projectsGrid {
        display: grid;
        grid-template-columns: repeat(1, 343px);
        grid-template-rows: repeat(6, 437px);
        justify-content: center;
        gap: 42px;
    }

    .project {
        background-color: white;

    }

    #contact {
        width: 100%;
        height: 641px;
        background-color: #3A3A3A;
        opacity: 100%;
        top: 4600px;
    }

    #information {
        width: 100%;
        height: 427px;
        background-color: rgb(243, 243, 235);
        top: 5100px;
    }

    #information .gridInformation {
        display: grid;
        margin-top: 42px;
        grid-template-columns: repeat(2, 55px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .license {
        width: 100%;
        height: 30px;
        bottom: 0;
        background-color: #000;
        position: fixed;
        z-index: 100;
    }

    .license #all_winnings_reserved {
        z-index: 100;
        position: fixed;
        width: 67px;
        height: 13px;
        text-align: right;
        margin-top: 5px;
        right: 10px;
        direction: rtl;
        color: rgb(243, 243, 235);
    }

    .license #myName {
        z-index: 100;
        position: fixed;
        margin-top: 5px;
        left: 10px;
        width: 33px;
        height: 13px;
        text-align: left;
        color: rgb(243, 243, 235);
    }


}