@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.background {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 7.4vh;
    top: 0px;

}

.profile {
    /*profile photo*/

    margin-left: 50px;
    border-radius: 50%;
    width: 2.6vw;
    height: 4.63vh;
}

.logo-name {
    /* My Name*/
    padding: 2em;
    color: #000000;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav,
.hamburger {
    /*nav bar*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 7.4vh;
    margin: 0 auto;
    background-color: rgb(226, 226, 220);
}

.hamburger {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;

}

nav ul li {
    margin-right: 20px;
    width: 100px;
    height: 70px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 1.2;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.port-container {
    background-image:
        linear-gradient(to bottom, rgba(213, 213, 204, 0.5), rgba(255, 255, 255, 0.5)), url('../imges/layerColorBackground.jpeg');
    height: 42.68vh;
    width: 100vw;
}

.portfolio {
    /* section that contain the introduction of the project*/
    z-index: 1;
    width: 100vw;
    height: 42.6vh;
}

.portfolio h1 {
    font: normal normal 900 80px/118px Heebo;
    font-size: 80px;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

.portfolio p {
    font: normal normal 20px/30px Heebo;
    font-size: 20px;
    text-align: center;
    color: #3A3A3A;
    opacity: 1;
}


.codingImages {
    width: 70px;
    height: 70px;
}

.technology {
    width: 100vw;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 0.46vh;
    opacity: 1;
}

#aboutMe {
    /* a box that contain description and photo about me*/
    width: 100vw;
    height: 65vh;
    box-shadow: 0px 3px 6px #00000029;
}

#aboutMe .aboutContent {
    width: 41vw;

}

#aboutMe .aboutContent h2 {
    font: normal normal 900 30px/52px Heebo;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

#aboutMe .aboutContent p {
    font: normal normal normal 15px/29px Heebo;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
    font-size: 20px;
    text-align: center;
}

#aboutMe .face {

    width: 7.291666666vw;
    height: 13.5vh;
    border-radius: 50%;

}

#aboutMe .aboutContent>a {
    /* Button to download the CV*/
    display: block;
    margin-top: 2em;
    line-height: 2;
    width: 13.54vw;
    height: 4.63vh;
    background-color: rgb(226, 226, 220);
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    font: normal normal bold 15px/30px Heebo;
    letter-spacing: 0.3px;
    color: #3A3A3A;
    opacity: 1;

}


.card {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 26.04vw;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.555);
    margin: 1em;
    padding-bottom: 2em;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.gallery-container-inner>div {
    margin-top: 2em;
}

.gallery-text-area-container {
    text-align: center;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 28%;
    margin: auto;
    color: #3A3A3A;
}

.card-text-container {
    width: 75%;
}

.gallery-text-area-container>h3 {
    font: normal normal medium 23px/34px Heebo;
}

.gallery-text-area-container>p {
    font: normal normal normal 16px/24px Heebo;
}

.card-text-container {
    height: 150px;
    justify-content: space-evenly;
    color: #3A3A3A;

}

.card-text-container>h2 {
    font: normal normal medium 60px Heebo;
}

.card-text-container>p {
    font: normal normal normal 16px/24px Heebo;
    text-align: center;
}

.card-img-container>img {
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.btn-container {
    border: 0;
    border-radius: 20px;
    background-color: rgb(226, 226, 220);
    width: 10em;
    height: 2em;
    margin: 2em;
}

.btn-container .btn {
    text-decoration: none;
    color: #3A3A3A;
    text-align: center;
    line-height: 1.7;
}

.gallery-btn>p {
    text-align: center;
    font: normal normal bold 20px/30px Heebo;
    letter-spacing: 0.3px;
    padding: 5em;
}

.card-technologies>img {
    margin-top: 1em;
    width: 100px;
}

#contact {
    display: flex;
    width: 100vw;
    height: 88.7vh;
    background-color: #3A3A3A;
    opacity: 1;

}


#contact .inner-contact-text {
    width: 28.6vw;
    height: 11.11vh;
    margin: 9.26vh 15.8vw 0 0;
    font: normal normal 900 20px/33px Heebo;
}

#contact .inner-contact-text>h1 {
    font-size: 36px;
    color: white;

}

#contact .inner-contact-text>p {
    font-size: 20px;
    text-align: right;
    direction: rtl;
    color: white;
}

#contact .contact-img {
    margin-top: 0;
    margin-left: 0;
    width: 700px;
    height: 660px;

}

#socialMedia {
    height: 200px;
    width: 100vw;
    background-color: rgb(226, 226, 220);
}

#socialMedia .iconContainer {
    width: 63.5%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}

#socialMedia .iconContainer .containerItem img {
    margin-bottom: 15px;
}

#socialMedia .iconContainer .containerItem h5 {
    text-align: center;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;

}


.license {
    width: 100vw;
    height: 30px;
    bottom: 0;
    background-color: #000;
    position: fixed;
    z-index: 100;
}

.license #all_winnings_reserved {
    z-index: 100;
    position: fixed;
    width: 148px;
    height: 28px;
    text-align: right;
    margin-top: 5px;
    right: 10px;
    direction: rtl;
    color: rgb(243, 243, 235);
}

.license #myName {
    z-index: 100;
    position: fixed;
    margin-top: 5px;
    left: 10px;
    width: 148px;
    height: 28px;
    text-align: left;
    color: rgb(243, 243, 235);
}

.formControl {
    width: 29.29vw;
    margin-bottom: 2.09vh;

}

.formControl label {
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
}

.formControl input {
    width: 100%;
    height: 4.89vh;
    box-shadow: 0px 3px 0px rgb(226, 226, 220);

}

.formControl textarea {
    width: 100%;
    height: 9.79020979020979vh;
    resize: none;
    box-shadow: 0px 3px 0px rgb(226, 226, 220);
}


@media (max-width:576px) {
    /*for mobiles*/

    .hamburger {
        display: block;
    }

    nav,
    .hamburger {
        position: fixed;
        z-index: 100;
        direction: rtl;
        top: 0;
        right: 0;
        padding: 10px 5px;
        border-radius: 0;
        width: 100vw;
        height: 40px;
        background-color: rgb(226, 226, 220);

    }


    .list {
        margin-top: 60px;

    }

    nav ul li {
        flex-direction: column;
        margin-right: 0;
        height: unset;
    }

    nav ul li a {
        display: block;
        line-height: 1.5;
        text-decoration: none;
        width: 100px;
        height: 35px;
        color: #000;
        border: 2px solid black;
        background-color: rgb(226, 226, 220);
        text-align: center;
        font-size: 1.2em;
    }


    nav ul {
        display: none;
    }

    nav .hamburger:hover+ul {
        display: block;
    }

    .logo {
        z-index: 101;
        margin-left: 0px;
    }

    .logo .profile {
        width: 40px;
        height: 40px;
    }

    .port-container {
        background-image:
            linear-gradient(to bottom, rgba(213, 213, 204, 0.5), rgba(255, 255, 255, 0.5)), url('../imges/layerColorBackground.jpeg');
        height: 330px;
        width: 100vw;
    }

    .portfolio {
        width: 348px;
        height: 168px;
    }

    .portfolio h1 {
        font: normal normal 900 46px/67px Heebo;
    }

    .portfolio p {
        font: normal normal medium 15px/25px Heebo
    }

    .technology {
        width: 100vw;
        height: auto;
    }

    #aboutMe {
        width: 100vw;
        height: 450px;
    }

    .face-div {
        width: 141px;
        height: auto;
        margin-top: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #aboutMe .face {
        margin-top: 2em;
        width: 120px;
        height: 120px;
    }

    #aboutMe .aboutContent {
        height: 360px;
        width: 90vw;
    }

    #aboutMe .aboutContent h2 {
        font: normal normal 900 25px/37px Heebo;
    }

    #aboutMe .aboutContent p {
        font: normal normal normal 15px/22px Heebo;
        text-align: center;
    }

    #aboutMe .aboutContent>a {
        /* Button to download the CV*/
        display: block;
        width: 140px;
        height: 28px;
        font: normal normal medium 10px/19px Heebo
    }


    .row {
        flex-direction: column;
    }

    .card {
        width: 342px;
        height: 438px;
        margin-bottom: 2em;
    }

    .card-img-container>img {
        width: 342px;
    }

    .gallery-text-area-container {
        height: 80px;
        width: 355px;
    }


    .gallery-text-area-container>h3 {
        font: normal normal 900 25px/37px Heebo;
    }

    .gallery-text-area-container>p {
        font: normal normal normal 15px/22px Heebo;
    }


    .card-text-container>h2 {
        font: normal normal medium 16px/24px Heebo;
    }

    .card-technologies>img {
        margin-top: 1em;
        width: 50px;
    }

    #contact {
        width: 100vw;
        height: 642px;
    }


    #contact .inner-contact-text {
        width: 315px;
        height: 80px;
    }

    #contact .inner-contact-text>h1 {
        font: normal normal 900 25px/37px Heebo;

    }

    #contact .inner-contact-text>p {
        font: normal normal normal 15px/22px Heebo;
    }

    #contact .contact-img {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        width: 185px;
        height: 161px;
    }

    #contact .formControl input {
        width: 310px;
        height: 28px;
        box-shadow: 0px 3px 0px rgb(226, 226, 220);
    }

    #contact .formControl textarea {
        width: 310px;
    }

    #socialMedia {
        height: 420px;
        width: 100%;
    }

    #socialMedia .iconContainer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }



}