body {
    width: 100vw;
    height: auto;
    background-color: #EBFEFF;
}


.project img {
    margin-top: 15.66vh;
    margin-bottom: 25.17vh;
    width: 77.40vw;
    height: 100.41vh;
    box-shadow: 0px 0px 40px #00000066;
    opacity: 1
}

@media (max-width:900px) {

    .project img {
        width: 295px;
        height: 178px;
        margin-top: 80px;
        margin-bottom: 73px;
    }

}